.card {
  width: 200px;
  height: 100%;
  border: 1px solid #f3f3f3;
  display: grid;

  &_row {
    grid-area: rows;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    margin-bottom: 50px;
  }

  &__img {
    width: 166px;
    height: 170px;
    margin: 12px auto 27px;
    padding: 15px 0;
    transition: transform 1s;
    border: 3px solid transparent;
  }

  &:hover {
    .card__img {
      transform: scale(1.2);
      border: 3px solid #f3f3f3;
    }
  }

  &_place {
    margin: 0 24px;
  }

  &__description {
    margin: 0 14px 5px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
  }

  &__info {
    font-size: 11px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 14px;
    line-height: 13px;
  }

  &__review {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 14px 22px;
  }

  &__stars--4 {
    display: grid;
    grid-auto-flow: column;
  }

  &__star {
    height: 15px;
    width: 15px;
    margin-right: 4px;
    background-image: url("/images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @for $i from 1 through 5 {
    .card__stars--#{$i} {
      .card__star:nth-child(-n+#{$i}) {
        background-image: url("/images/star-active.svg");
      }
    }
  }

  &__feedback {
    font-size: 11px;
    margin: 0;
    align-self: center;
  }

  &__price-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 14px;
  }

  &__price-info {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    align-self: center;
  }

  &__price {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

  &__btn {
    display: grid;
    height: 40px;
    width: 170px;
    background: #00acdc;
    border-radius: 5px;
    border: 1px solid #00acdc;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin: 18px auto 15px;
    line-height: 16px;
    transition: color 300ms, background 300ms;

    &:hover {
      background: transparent;
      color: #00acdc;
    }
  }
}
